.container_home {
  margin-top: 20%;
}

.container_home .content h4 {
  text-align: center;
  width: 50%;
  margin: auto;

}

.container_home h1 {
  text-align: center;
}

.social_media ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.social_media li {
  display: inline-block;
  margin: 0.25rem;
}

.social_media a:link {
  color: white;
}

.social_media a:visited {
  color: white;
}
