header {
  color: #c0c0c0;
}

header h3 {
  visibility: hidden;
  font-weight: bold;
}

nav a {
  color: #e0e0e0;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  text-align: center;
  margin: 1rem 0;
  padding: 0.5rem 0;
  /*border: solid white 1px;*/
  background: rgba(128, 128, 128, 0.5);
  /*opacity: 0.5;*/

}


@media only screen and (min-width: 768px) {
  header::after {
    content: '';
    display: table;
    clear: both;
  }

  header h3 {
    float: left;
    margin-top: 30px;
    margin-left: 70px;
    visibility: visible;
  }

  nav {
    float: right;
  }


  nav li {
    margin-top: 15px;
    display: inline-block;
    margin-right: 60px;
    position: relative;
    border: none;
    background-color: transparent;
  }

  nav a {
    color: #787878;
    font-size: 12px;
  }
  nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
  }

  nav a:hover::before {
    width: 100%;
  }

  .active {

    font-weight: bolder;
    color: #c0c0c0;
  }
}
