.container_port {
  margin-top: 2rem;
}

.project {
  border: 0.01px #7F7F7F solid;
  /*padding: 1rem;*/
  width: 285px;
  height: 200px;
  margin-bottom: 1rem;
  margin: 2rem auto;
}
.date {
  visibility: hidden;
}

#project_1 {
  background: url('./img/project/mass_shooting_desc.PNG') no-repeat center;
  background-size: contain;
}

#project_2 {
  background: url('./img/project/pencil.jpg') center no-repeat;
}

#project_3 {
  background: url('./img/project/instagrads.png') center no-repeat;
}

#project_4 {
  background: url('./img/project/identity_gun_desc.PNG') center no-repeat;
  background-size: contain;
}

#project_5 {
  background: url('./img/project/nineboard_desc.PNG') center no-repeat;
  background-size: contain;
}

#project_6 {
  background: url('./img/project/patient_appointment.png') center no-repeat;
}

#project_7 {
  background: url('./img/project/personal_website_desc.png') center no-repeat;


}

@media only screen and (min-width: 768px) {

  .container_port {
    display: flex;
    justify-content: space-around;
    /*margin-top: 2rem;*/
    margin-top: 0;
    padding: 0 7rem;
  }

  .project {
    position: relative;
  }

  .date {
    visibility: visible;
    width: 185px;
    height: 102px;
    background-color: rgb(76,76,76);
    /*background-color: red;*/
    color: white;
    text-decoration: none;
    padding-top: 3rem;
    opacity: 0.0;

    transition: all ease-in-out 0.3s;
    position: absolute;
    top: -50px;
  }

  .project:hover > .date {
    top: 0;
    opacity: 0.8;
  }

  .date h2, h3, h5{
    margin: 0;
    text-align: center;
    font-weight: lighter;
  }

  .date a:visited {
    text-decoration: none;
  }

  /*.date {
    opacity: 0.0;
  -webkit-transition: opacity 0.3s;
  }
  .date:hover{
    opacity: 0.7;
  }*/
  .project {
    border: 0.02px #7F7F7F solid;
    /*padding: 1rem;*/
    width: 185px;
    height: 150px;
    margin-bottom: 1rem;
  }



  /*.containerport a {
    width: 185px;
    height: 150px;
  }*/
  #project_1 {
    background: url('./img/project/mass_shooting.jpg') no-repeat center;
    background-size: contain;
  }

  #project_2 {
    background: url('./img/project/pencil.jpg') center no-repeat;
  }

  #project_3 {
    background: url('./img/project/instagrads.png') center no-repeat;
  }

  #project_4 {
    background: url('./img/project/identityGun.jpg') center no-repeat;
  }

  #project_5 {
    background: url('./img/project/nineboard.png') center no-repeat;

  }

  #project_6 {
    background: url('./img/project/patient_appointment.png') center no-repeat;
  }

}
